.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main--input {
  margin-top: 16px;
  padding: 8px;
}

.main button {
  margin-top: 100px;
}

.card-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
}

.card-credentials input {
  padding: 4px;
}

.inner {
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}